spring:
  main:
    lazy-initialization: true
  application:
    name: ai-dsa-portal
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
      idle-timeout: 30000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        temp.use_jdbc_metadata_defaults: false
        transaction.jta.platform: org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform
        dialect: org.hibernate.dialect.PostgreSQLDialect
  h2:
    console:
      enabled: true
      path: /h2-console
  security:
    user:
      name: admin
      password: admin

server:
  port: ${PORT:8080}
  servlet:
    context-path: /api

jwt:
  secret: mySecretKey123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
  expiration: 86400000

gemini:
  api-key: AIzaSyBLVaIDEeKIqoQp4CneU_5K3k50OlKfHBM
  base-url: https://generativelanguage.googleapis.com/v1beta

judge0:
  base-url: https://judge0-ce.p.rapidapi.com
  api-key: b9ec65dcb6msh43cb4bdc1ebc996p1816eajsn8aa40951463a
  host: judge0-ce.p.rapidapi.com

cors:
  allowed-origins: http://localhost:3000
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: "*"
  allow-credentials: true
